<div id="header">
  <div id="pull-left">
    <div id="proposals">
     <a href="#" id="suggest">Autres suggestions</a>
     <ul>
        <% @other_urls.each do |suggestion| %>
         <li><span onClick="ChangeFrame('<%= suggestion[:url] %>');"><%= suggestion[:title] %></span></li>
        <% end %>
     </ul>
    </div>
    <div id="question">
      <span id="show">@<%= link_to @tweet.account, "https://twitter.com/#{@tweet.account}", target: '_blank' %> êtes vous satisfait de cette réponse ?
      <button onclick="window.location.replace('<%= @tweet.answer_url %>');">Oui</button> 
      <button onClick="UnhappyCustomer();">Non</button></span>
      <span id="hide">Un conseiller proche de <%= @city[:country_name] %> a été prévenu et reprendra contact avec vous très prochainement</span>

    </div>
    <div style="clear: both;"></div>
  </div>
    <img src="/assets/robot_hello_off.png" id="pull-right" >
  <div style="clear: both;"></div>
</div>
<iframe src="<%= @tweet.answer_url %>">
  <p>Your browser does not support iframes.</p>
</iframe>
