<div id="header">
  <div>
    @<%= link_to @tweet.account, "https://twitter.com/#{@tweet.account}", target: '_blank' %> de #<%= @city.gsub(/\s+/, "") %> êtes vous satisfait de cette réponse ?
  </div>
  <button onclick="window.location.replace('<%= @tweet.answer_url %>');">Oui</button>
  <button onClick="UnhappyCustomer();" id="refused" class="<%= @tweet.id %>">Non</button>
  <a id="simple-menu" href="#sidr">Autres suggestions</a>

<!--       <span id="hide">Un conseiller proche de  a été prévenu et reprendra contact avec vous très prochainement</span> -->
</div>

<div id="sidr">
  <ul>
    <% @other_urls.each do |suggestion| %>
      <li><span onClick="ChangeFrame('<%= suggestion[:url] %>');"><%= suggestion[:title].truncate(27) %></span></li>
    <% end %>
  </ul>
</div>
 
<iframe src="<%= @tweet.answer_url %>">
  <p>Your browser does not support iframes.</p>
</iframe>


<div id="loader">
  <div id="img-loader"></div>
</div>


<script>
$(document).ready(function() {
  $('#simple-menu').sidr();
});
</script>


