.stats#paper
  %div{style: 'width: 1024px; margin: auto; '}
    .menu
      #links
        =link_to "Accueil",  admin_stats_path
        %a{:href => "#this-week"} Cette semaine
        %a{:href => "#"} Cette année
        %a{:href => "#"} Mots clés
        %a{:href => "#"} Satisfaction
        =link_to "Profils",  admin_profiles_path
      #statslogo
      %div{style: 'clear:both;'}
  .content{style: 'width: 1024px; margin: auto; '}


    %table#profilestab
      %thead
        %tr 
          %td Nom de l'utilisateur
          %td HashTags favoris
          %td Utilisateurs favoris
      %tbody
        - @users.each do |user|
          - @profile = extract_profile user.account
          %tr
            %th=raw "@#{link_to user.account, 'http://twitter.com/' + user.account, target: '_blank'} "
            %td 
              - @profile.favorite_hashtags.each do |tag|
                =raw "##{link_to tag.first, 'http://twitter.com/search?src=typd&q=%23' + tag.first, target: '_blank'}(x#{tag.last})"
            %td
              - @profile.favorite_users.each do |fuser|
                =raw "@#{link_to fuser.first, 'http://twitter.com/' + fuser.first, target: '_blank'}(x#{fuser.last})" 

          

